

<div class="container">
 <div class="mb-3">

<h1>Stupid-coaching</h1>

<div class="anaswe-card">
<h3> <%= @answer %> </h3>
<p>- you</p>
</div>

<div class="coaching-card">
<h3> <%= @coaching%> </h3>
<p>- your coach</p>
</div>

<div class="btn-ask">
<%= link_to "ask a new question", ask_path , class:"btn btn-light btn-ask" %>
</div>

 </div>
 </div>
