


<div class="container">
 <div class="mb-3">

      <h1>ask your coach</h1>
      <form   action="/answer" data-turbo="false">
        <input class="form-control" type="text" name="question">
        <input type="submit" class="btn btn-primary mt-3" value="Ask!">
      </form>


 </div>

</div>
